agm-map {
    height: 700px;
  }

  mat-card-header{
    background-color:rgb(36, 42, 51);
    margin-bottom: 5px;
  }

  h3{
    font-size: 20px;
    font-weight: 800;
    color: darkgray;
    margin: 10px;
  }

  .carousel-control-next-icon:after
  {
    content: '>';
    font-size: 40px;
    font-weight: 900;
    color: blue;
  }
  
  .carousel-control-prev-icon:after {
    content: '<';
    font-size: 40px;
    font-weight: 900;
    color:blue;
  }

  .category{
    font-weight: 700;
  }

  .subCategory{
    text-align: center;
    margin-left: 20px;
    font-weight: 500;
  }

  /* img{
    margin: 5px;
    padding: 5px;
    height: "auto";
     width: "75px";
  } */

.catArea {
  overflow-x: auto;
  overflow-y: hidden;
}

.container {
  display: flex;
  height: 22.5vh !important;
}

.side {
  width: 50px;
  height: 22.5vh !important;
}

.middle {
  flex-grow: 1;
  height: 22.5vh !important;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.block {
  display: inline-block;
  float: none;
}

.over_map { 
	position: absolute; 
	top: -30px; 
	/* left: 10px;  */
	z-index: 1;
	/* margin-left: 38%; */
	/* margin-right: 2px; */
  width: 32%; 
  font-size: 80%;
}

th{
  font-size: 12px;
}


.searchResults{
  position: fixed;
  width : 20%;
  /* right: 0;
  top: 50px; */
  z-index: 9999;
  background-color: #fff;
  border: 1px solid #ccc;
}

.searchResults a{
  color: #444;
}

.searchResults .table-cartItemsWrap{
  height: 40vh;
}

.searchResults .table-cartItemsWrap td:nth-child(1){
  width: 40px;
}

.searchResults .table-cartItemsWrap td:nth-child(2){
  width: auto;
}


.table-cartItemsWrap{
  height: calc(100vh - 220px);
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 12px;
}

.table-cartItemsWrap .btn {
  background-color: transparent;
  font-size: 14px;
  padding: 3px;
  line-height: 1;
  color: #B9004E;
}

.table-cartItemsWrap td:nth-child(2) {
  width: 40px;
}

.table-cartItemsWrap td table {
  width: 100%;
}

.table-cartItemsWrap td {
  font-size: 12px;
}

.table-cartItemsWrap td:first-child {
  width: 30px;
}

.table-cartItemsWrap td table td:last-child {
  text-align: right;
  font-weight: 700;
}

.searchResults .table-cartItemsWrap{
  height: 40vh;
}

.searchResults .table-cartItemsWrap td:nth-child(1){
  width: 40px;
}

.searchResults .table-cartItemsWrap td:nth-child(2){
  width: auto;
}

.cartItemName {
  font-weight: 700;
  color: #333;
}

.table.table-cartItems span {
  display: block;
}

.cartItemName {
  font-weight: 700;
  color: #333;
}

.table-cartItemsWrap td table {
  width: 100%;
}

.table-cartItemsWrap td {
  font-size: 12px;
}

.table-cartItemsWrap td:first-child {
  width: 30px;
}

.table-cartItemsWrap td table td:last-child {
  text-align: right;
  font-weight: 700;
}


.searchResults .table-cartItemsWrap{
  height: 40vh;
}

.searchResults .table-cartItemsWrap td:nth-child(1){
  width: 40px;
}

.searchResults .table-cartItemsWrap td:nth-child(2){
  width: auto;
}

.table-cartItemsWrap{
  height: calc(100vh - 220px);
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 12px;
}

.table.table-cartItems>tbody>tr>td,
.table.table-cartItems>tbody>tr>th,
.table.table-cartItems>tfoot>tr>td,
.table.table-cartItems>tfoot>tr>th,
.table.table-cartItems>thead>tr>td, .table.table-cartItems>thead>tr>th {
  border-top: none;
  border-bottom: 1px solid #ddd;
}

.table.table-cartItems>tbody>tr:hover{
  background-color: #ccc;
}

.table-cartItemsWrap .btn {
  background-color: transparent;
  font-size: 14px;
  padding: 3px;
  line-height: 1;
  color: #B9004E;
}

.table-cartItemsWrap td:nth-child(2) {
  width: 40px;
}

.table.table-cartItems img {
  max-width: 35px;
  max-height: 35px;
  border: 1px solid #ccc;
}

.table.table-cartItems span {
  display: block;
}

.cartItemName {
  font-weight: 700;
  color: #333;
}

.table-cartItemsWrap td table {
  width: 100%;
}

.table-cartItemsWrap td {
  font-size: 12px;
}

.table-cartItemsWrap td:first-child {
  width: 30px;
}

.table-cartItemsWrap td table td:last-child {
  text-align: right;
  font-weight: 700;
}
/* ################################################################################ */
/* #mySidenav1 a {
  position: absolute;
  right: -50%;
  transition: 0.3s;
  padding: 15px;
  width: 55%;
  height: 100%;
  border-radius: 0 5px 5px 0;
  z-index:1000;
}

#mySidenav1 a:hover {
  height: 100%;
  right: 0;
  z-index:1000;
} */

#mySidenav1 a {
  position: absolute;
  right: -50%;
  transition: 0.3s;
  padding: 15px;
  width: 55%;
  height: 100%;
  border-radius: 0 5px 5px 0;
  z-index:10;
  transition-delay: 1.5s;
}

#mySidenav1 a:hover {
  height: 100%;
  right: 0;
  z-index:10;
  transition-delay: 0.2s;
}

#about {
  top: 20px;
}

.pre-scrollable {
  max-height: 70%;
  overflow-y: scroll;
}

td {
  width: 2000px
}

.fix-padding {
  color : white;
  width: 2000px;
  background-color: #444
}

/* 
.fa-2x {
font-size: 2em;
}
.fa {
position: relative;
display: table-cell;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:20px;
}


.main-menu:hover,nav.main-menu.expanded {
width:35%;
overflow:visible;
}

.main-menu {
background:#ffffff;
border-right:1px solid #e5e5e5;
position:absolute;
top:5%;
bottom:0;
height:65%;
right:0;
width:60px;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1;
}

.main-menu>ul {
margin:7px 0;
}

.main-menu li {
position:relative;
display:block;
width:250px;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#999;
 font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;
  
}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
  font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:#5fa2db;
}
.area {
float: left;
background: #e2e2e2;
width: 100%;
height: 100%;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
} */
