<ngx-spinner bdColor="rgba(51, 51, 51, 0.5)" size="default" color="#3f51b5" type="ball-scale-pulse"></ngx-spinner>

<ng-snotify></ng-snotify>




<mat-card class="example-card">

  <div class="over_map col-md-4 col-sm-6 pb-5">
    <div class="navBarItem col ">
      <div class="orderForm p-3">
        <mat-card>
          <h2>Filter <button (click)="getVehicleTracking()" class="btn btn-sm btn-success"><i class="fa fa-refresh"
                aria-hidden="true"></i></button></h2>

          <div class="row">
            <div class="col-md-6">
              <div class="radio">
                <label><input type="radio" name="optradio" value="all" checked
                    (change)="filterVehicleTracking('all')">All
                  ({{countAll}})</label>
              </div>
              <div class="radio">
                <label><input type="radio" name="optradio" value="online"
                    (change)="filterVehicleTracking('online')">Online
                  ({{countOnline}})</label>
              </div>
              <div class="radio">
                <label><input type="radio" name="optradio" value="offline"
                    (change)="filterVehicleTracking('offline')">Offline ({{countOffline}})</label>
              </div>
              <div class="radio">
                <label><input type="radio" name="optradio" value="offline"
                    (change)="filterVehicleTracking('ontrip')">Ontrip ({{countOntrip}})</label>
              </div>
            </div>

            <div class="col-md-6">
              <div class="radio" *ngFor='let item of vehicleCategoryData'>
                <label><input type="radio" name="optradio1" value="{{item.name}}"
                    (change)="filterVehicleTracking2(item.name)">{{item.name}} ({{item.count}})</label>
              </div>
            </div>
          </div>



        </mat-card>
      </div>
    </div>
  </div>

  <mat-card-header>
    <mat-card-title>
      <h3>{{ title }}</h3>
    </mat-card-title>
  </mat-card-header>
  <br>

  <mat-card-content>


    <div class="container1 row">
      <!-- ########################################################################### -->

      <!-- <nav class="main-menu"> -->

      <div id="mySidenav1" class="sidenav1">
        <a id="about">
          <div class="pre-scrollable">

            <div class="card p-5">
              <h3>{{ title }}</h3>
              <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <!-- <label for="searchControl">Pickup Location</label> -->
                      <div class="input-group mb-3">
                        <input placeholder="Enter pickup location" id="location" autocorrect="on" autocapitalize="off"
                          spellcheck="off" type="text" class="form-control form-control-sm" #search
                          [formControl]="searchControl" formControlName="searchControl" [(ngModel)]="myLocationAddress"
                          (click)="clearOrigin()">
                        <div class="input-group-append">

                          <i class="form-control fa fa-map-marker" (click)="myLocation()" aria-hidden="true"></i>

                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <!-- <label for="searchControl1">Drop Location</label> -->
                      <input class="form-control form-control-sm" placeholder="Enter destination" id="location"
                        autocorrect="on" autocapitalize="off" spellcheck="off" type="text" [(ngModel)]="destination1"
                        (click)="clearDestination()" #search1 [formControl]="searchControl1">
                    </div>

                    <!-- <button (click)="calculateDistance()">calculate</button> -->
                    <!-- <br> -->

                    <!-- <div class="row"> -->
                    <!-- <div class="col-md-6"> -->
                    <div class="form-group">
                      <!-- <label for="customerTelephoneNo">Customer Telephone Number</label> -->
                      <input type="text" id="customerTelephoneNo" class="form-control form-control-sm"
                        formControlName="customerTelephoneNo" [(ngModel)]="dispatch.customerTelephoneNo"
                        placeholder="Telephone Number" name="customerTelephoneNo"
                        [ngClass]="{ 'is-invalid':  validate.customerTelephoneNo.errors }"
                        (input)="getManualCustomers()">

                      <div class="searchResults" *ngIf="manualCustomers.length > 0">
                        <div class="table-cartItemsWrap">
                          <table class="table table-condensed table-cartItems">
                            <tbody>
                              <tr class="ng-star-inserted" *ngFor="let item of manualCustomers; let i = index">
                                <!-- <td>
                                                    <a [routerLink]="[item.productUrl]" (click)="onClickSearchItem();"><img *ngIf="item?.image"
                                                        [src]="appConfig.IMAGE_URL + item?.image"></a>
                                                  </td> -->
                                <td>
                                  <div (click)="onClickSearchItem(i);">
                                    <span class="cartItemName">{{item.mobile}} {{item.firstName}}</span>

                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>

                      <!-- <div class="pre-scrollable">
                            
                            
                                          <ul>
                                            <li *ngFor="let mc of manualCustomers">{{mc.mobile}} {{mc.firstName}}</li>
                                          </ul>
                            
                                        </div> -->

                      <div *ngIf="validate.customerTelephoneNo.errors" class="invalid-feedback">
                        <div *ngIf="validate.customerTelephoneNo.errors.required">Telephone Number is required</div>
                        <div *ngIf="validate.customerTelephoneNo.errors.pattern">Telephone number must be a valid number
                        </div>
                      </div>
                    </div>
                    <!-- </div> -->
                    <!-- <div class="col-md-6"> -->
                    <div class="form-group">
                      <!-- <label for="customerName">Customer Name</label> -->
                      <input type="text" id="customerName" class="form-control form-control-sm"
                        [(ngModel)]="dispatch.customerName" formControlName="customerName" placeholder="Customer Name"
                        name="customerName">
                    </div>
                    <!-- </div> -->
                    <!-- </div> -->

                    <!-- <div class="row"> -->
                    <!-- <div class="col-md-9"> -->
                    <div class="form-group">
                      <!-- <label for="customerEmail">Email address</label> -->
                      <input type="customerEmail" class="form-control form-control-sm" id="customerEmail"
                        aria-describedby="emailHelp" [(ngModel)]="dispatch.customerEmail"
                        formControlName="customerEmail" placeholder="Email"
                        [ngClass]="{ 'is-invalid': validate.customerEmail.errors }">
                      <div *ngIf="validate.customerEmail.errors" class="invalid-feedback">
                        <div *ngIf="validate.customerEmail.errors.email">Email must be a valid email address</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <!-- </div> -->
                    <!-- <div class="col-md-3"> -->
                    <div class="form-group">
                      <label for="noOfPassengers">Number Of Passenger</label>
                      <input type="number" id="noOfPassengers" class="form-control form-control-sm"
                        formControlName="noOfPassengers" [(ngModel)]="dispatch.noOfPassengers"
                        placeholder="Number Of Passengers" name="noOfPassengers">
                    </div>
                    <!-- </div> -->
                    <!-- </div> -->


                    <div class="form-group">
                      <div class="row">

                        <div class="col-md-7">
                          <label for="pickupDate">Pickup date</label>
                          <input type="date" id="pickupDate" class="form-control form-control-sm"
                            [(ngModel)]="dispatch.pickupDate" formControlName="pickupDate" name="pickupDate">
                        </div>
                        <div class="col-md-5">
                          <label for="pickupTime">Pickup Time</label>
                          <input type="time" id="pickupTime" class="form-control form-control-sm"
                            [(ngModel)]="dispatch.pickupTime" formControlName="pickupTime" name="pickupTime">
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-4">
                          <label for="operationRadius">Radious</label>
                          <input type="number" id="operationRadius" class="form-control form-control-sm"
                            formControlName="operationRadius" [(ngModel)]="dispatch.operationRadius"
                            placeholder="Radious" name="operationRadius">
                        </div>
                      </div>
                    </div>

                    <h3><b>Total Distance : {{distanceFormated}}<br>
                        estimated cost Rs : {{dispatch.hireCost}}</b></h3>
                  </div>
                </div>

              </form>

              <div class="catArea">
                <div class="row pl-1">
                  <div *ngFor="let data of vahicleCategory; let i = index">
                    <div class="col p-3 block ">
                      <div class="border border-dark rounded-circle" [style.background-color]="data.selected ? '' : ''"
                        (click)="selectCategory(i)">
                        <div class="rounded-circle"
                          [style.background-color]="!data.enabled ? 'rgb(155, 158, 163)' : ''">
                          <img class="d-block p-1" height="auto" width="90px" src="{{uri}}{{data.subCategoryIcon}}"
                            alt="Second slide" *ngIf="!data.selected">
                          <img class="d-block p-1" height="auto" width="90px"
                            src="{{uri}}{{data.subCategoryIconSelected}}" alt="Second slide" *ngIf="data.selected">
                        </div>
                      </div>
                      <label class="subCategory text-center">{{data.categoryTag}} - {{data.subCategoryName}}</label>
                    </div>
                  </div>
                </div>
              </div>


              <br><br>

              <div class="form-group">

                <div class="row">
                  <div class="col-md-5">

                    <div class="input-group mb-3">
                      <div class="input-group-append">
                        <button color="primary" type="button" (click)="changeBid('m')" class="btn btn-sm btn-info"
                          data-toggle="modal" data-target="#exampleModal">
                          <i class="fa fa-minus" aria-hidden="true"></i>
                        </button>
                      </div>
                      <input type="number" id="bid" class="form-control form-control-sm" placeholder="Bid" name="bid"
                        [(ngModel)]="bidValue" (change)="checkEnable()">
                      <div class="input-group-append">
                        <button color="primary" type="button" (click)="changeBid('p')" class="btn btn-sm btn-info"
                          data-toggle="modal" data-target="#exampleModal">
                          <i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- <div class="form-group"> -->
              <!-- <h3><b>Total Distance : {{distanceFormated}}<br>
                    estimated cost Rs : {{dispatch.hireCost}}</b></h3> -->
              <!-- </div> -->

              <div class="form-group">
                <label for="notes">Notes</label>
                <textarea type="text" id="notes" class="form-control form-control-sm" [(ngModel)]="dispatch.notes"
                  placeholder="Notes" name="notes"></textarea>
              </div>

              <div class="hide">
                <div *ngFor="let data of vahicleCategory; let i = index">
                  <img class="d-block p-1" src="{{uri}}{{data.subCategoryIcon}}"
                    alt="Second slide">
                  <img class="d-block p-1" src="{{uri}}{{data.subCategoryIconSelected}}"
                    alt="Second slide">
                </div>
              </div>


              <div class="form-group">
                <div class="row">
                  <div class="col-md-12">
                    <button mat-button type="button" class="btn btn-primary font-weight-bold pull-right"
                      (click)="onSubmit()" style="width:100%">
                      Book
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>



      <!-- </nav> -->

      <!-- ########################################################################### -->
      <div class="col-md-12">

        <agm-map [streetViewControl]="false" [zoomControl]="false" [scrollwheel]="null"
          [gestureHandling]="'cooperative'" [latitude]="lat[0]" [longitude]="lng[0]" [zoom]="zoom">

          <agm-direction [origin]="origin" [destination]="destination" *ngIf="getDirection">
          </agm-direction>

          <agm-marker [latitude]="lat[0]" [longitude]="lng[0]" [zIndex]="500" (dragEnd)="dragEndOrigin($event)"
            [markerDraggable]="true"></agm-marker>
          <agm-marker [latitude]="lat[1]" [longitude]="lng[1]" [zIndex]="500" (dragEnd)="dragEndDestination($event)"
            [markerDraggable]="true"></agm-marker>


          <agm-marker [latitude]="data.currentLocation.latitude" [longitude]="data.currentLocation.longitude"
            [iconUrl]="data.driverIcon" *ngFor="let data of vehicleTrackingData" (mouseOver)="window.open()"
            (mouseOut)="window.close()">
            <agm-info-window #window>
              <h5>{{data.currentStatus}}</h5>
              <p>{{data.vehicleCategory}} | {{data.vehicleSubCategory}}</p>
              <b>{{data.driverInfo.driverName}} <br> {{data.driverInfo.driverContactNumber}} |
                {{data.vehicleInfo.vehicleRegistrationNo}}</b>
            </agm-info-window>
          </agm-marker>

        </agm-map>

        <div class="row cl1">
          <!-- <div class="col-sm-12 col-md-12"> -->

          <div class="card p-2">
            <div class="card-header fix-padding">
              <div class="row">
                <div class="col-md-1">
                  From : <input type="date" [(ngModel)]="from" class="form-control form-control-sm">
                </div>
                <div class="col-md-1">
                  To : <input type="date" [(ngModel)]="to" class="form-control form-control-sm">
                </div>
                <!-- </div>

              <div class="row p-2"> -->
                <div class="col-md-1">
                  Status : <select [(ngModel)]="filterStatus" class="form-control form-control-sm"
                    title="Choose Hardware">
                    <option value="all">All</option>
                    <option value="default">Inprogress</option>
                    <option value="accepted">Accepted</option>
                    <option value="canceled">Canceled</option>
                    <option value="done">Done</option>
                  </select>
                </div>
                <div class="col-md-1">
                  Category : <select [(ngModel)]="filterCategory" class="form-control form-control-sm"
                    title="Choose Hardware">
                    <option value="default" *ngFor='let item of vehicleCategoryData' value="{{item.name}}">{{item.name}}
                    </option>
                  </select>
                </div>
                <div class="col-md-2">
                  Filter :
                  <input type="text" class="form-control form-control-sm" [(ngModel)]="textData" name="aattributeText"
                    placeholder="Enter">
                </div>
                <div class="col-md-1">
                  <br>
                  <button mat-button class="btn btn-success btn-sm ml-5"
                    (click)="getFailedDispatchesPagination()">Search</button>
                  <!-- <button mat-button class="btn btn-success btn-sm " (click)="filterFailedDispatches()">Filter</button> -->
                </div>

              </div>
              <br>
              <div class="row">
                <div class="col-md-2">
                  showing {{failedDispatches.length}} records out of {{total}}
                </div>
                <div class="col-md-4">
                  <div style="text-align:center" *ngIf="failedDispatches.length > 0" >

                    <table class="table">
                      <tr *ngFor="let item of failedDispatches | paginate: config" style="font-weight:10"></tr>
                    </table>

                    <pagination-controls style="background-color: aliceblue" (pageChange)="pageChanged($event)">
                    </pagination-controls>

                  </div>
                </div>
              </div>
            </div>

            <!-- <div class="col-md-12"> -->
            <div class="card card-outline-inverse">
              <div class="card-body">

                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                  <thead>
                    <tr>
                      <th>
                        <h3 class="head">Failed Dispatches History</h3>
                        <button (click)="exportAsXLSX()"><i class="fa fa-file-excel-o"
                          style="font-size:35px;color:blue"></i></button>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- <br> -->
                    <tr *ngFor="let data of failedDispatches" style="font-weight:10">
                      <td>
                        <p style="display:none">
                          {{data.recordedTime | date: 'yyyy-MM-dd'}}
                          {{data.recordedTime | date: 'a'}}
                          {{data.recordedTime | date: 'hh:mm.ss a'}}
                        </p>
                        <mat-card>
                          <div class="row">
                            <div class="col-md-3">
                              <mat-card-title>

                                <h4><b>Customer</b></h4>
                                <h3 *ngIf="data.type != 'passengerTrip'">{{data.customerName}}</h3>
                                <h3 *ngIf="data.type == 'passengerTrip'">{{data.passengerDetails.name}}</h3>
                              </mat-card-title>
                              <mat-card-subtitle>
                                <p *ngIf="data.type != 'passengerTrip'">
                                  {{data.customerTelephoneNo}}
                                </p>
                                <p *ngIf="data.type == 'passengerTrip'">
                                  {{data.passengerDetails.contactNumber}}
                                </p>
                              </mat-card-subtitle>
                            </div>

                            <div class="col-md-5">
                              <div class="row">
                                <div class="col-md-6">
                                  <p><b>Hire cost:</b> {{data.hireCost}}</p>
                                  <p><b>Vehicle Category:</b> {{data.vehicleCategory}}</p>
                                  <p><b>Vehicle Sub Category:</b> {{data.vehicleSubCategory}}</p>
                                  <p><b>Bid :</b> {{data.bidValue}}</p>
                                  <button mat-button class="btn btn-success btn-sm ml-1"
                                    *ngIf="data.type == 'adminDispatch'">Admin Dispatch</button>
                                  <button mat-button class="btn btn-danger btn-sm ml-1"
                                    *ngIf="data.type == 'driverDispatch'">Driver Dispatch</button>
                                  <button mat-button class="btn btn-primary btn-sm ml-1"
                                    *ngIf="data.type == 'userDispatch'">User Dispatch</button>
                                  <button mat-button class="btn btn-primary btn-sm ml-1"
                                    *ngIf="data.type == 'passengerTrip'">User Trip</button>
                                </div>
                                <div class="col-md-6">
                                  <div *ngFor='let dr of data.noifiedDrivers'>
                                    <p [style.color]="data.assignedDriverId == dr.driverId ? 'rgb(255, 0, 0)' : ''">
                                      <b>Driver : </b> {{dr.driverInfo.driverContactNumber}} |
                                      {{dr.driverInfo.driverName}}
                                      <br>
                                      <b>Vehicle : </b> {{dr.vehicleInfo.vehicleRegistrationNo}}
                                    </p>
                                  </div>
                                </div>
                              </div>


                            </div>

                            <div class="col-md-4">
                              <p><b>Pickup Location:</b> {{data.pickupLocation.address}}</p>
                              <p><b>Pickup Time:</b> {{data.pickupDateTime | date: 'dd/MM/yyyy'}}
                                {{data.pickupDateTime | date: 'hh:mm.ss a'}}</p>
                              <p *ngIf="data.dropLocations"><b>Drop Location:</b> {{data.dropLocations[0].address}}</p>
                              <p *ngIf="data.distance"><b>Distance :</b> {{data.distance}}</p>
                              <!-- <p><b>Recorded Time:</b> {{data.recordedTime}}</p> -->
                              <button mat-button class="btn btn-primary btn-sm ml-1"
                                *ngIf="((data.status == 'default') && (data.assignedDriverId != 'null'))">In
                                progress</button>

                              <button mat-button class="btn btn-primary btn-sm ml-1"
                                *ngIf="((data.status == 'default') && (data.assignedDriverId == 'null'))">Not
                                accepted</button>

                              <button mat-button class="btn btn-danger btn-sm ml-1"
                                *ngIf="data.status == 'canceled'">Canceled</button>

                              <button mat-button class="btn btn-success btn-sm ml-1"
                                *ngIf="data.status == 'accepted'">Accepted</button>

                              <button mat-button class="btn btn-primary btn-sm ml-1"
                                *ngIf="( data.status == 'canceled' || data.status == 'default')"
                                (click)="edit(data)">Redispatch</button>
                            </div>
                          </div>
                          <div class="row">

                          </div>
                          <!-- <div class="row">
                                      
                                    </div> -->
                        </mat-card>
                      </td>
                      <br>
                    </tr>
                  </tbody>
                </table>

              </div>
            </div>
            <!-- </div> -->

          </div>
          <!-- </div> -->
        </div>


      </div>


    </div>

  </mat-card-content>

</mat-card>