<ngx-spinner bdColor="rgba(51, 51, 51, 0.5)" size="default" color="#3f51b5" type="ball-scale-pulse"></ngx-spinner>

<div class="row">
  <div class="col-sm-12 col-md-12">

    <div class="card p-2">
      <div class="card-header fix-padding">

        From : <input type="date" [(ngModel)]="from"> To : <input type="date" [(ngModel)]="to">
        <button mat-button class="btn btn-success btn-sm ml-5" (click)="getDispatchHistory()">Search</button>
      </div>

      <div class="col-md-12">
        <div class="card card-outline-inverse">
          <div class="card-body">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
              <thead>
                <tr>
                  <th>
                    <h3 class="head">Dispatch History</h3>
                    <button (click)="exportAsXLSX()"><i class="fa fa-file-excel-o"
                      style="font-size:35px;color:blue"></i></button>
                  </th>
                </tr>
              </thead>
              <tbody>
                <!-- <br> -->
                <tr *ngFor="let data of dispatchHistory" style="font-weight:10">
                  <td>
                    <p style="display:none">
                      {{data.recordedTime | date: 'yyyy-MM-dd'}}
                      {{data.recordedTime | date: 'a'}}
                      {{data.recordedTime | date: 'hh:mm.ss a'}}
                    </p>
                    <mat-card>
                      <div class="row">
                        <div class="col-md-3">
                          <mat-card-header>
                            <mat-card-title>

                              <h4><b>Customer</b></h4>
                              <h3>{{data.customerName}}</h3>
                            </mat-card-title>
                            <mat-card-subtitle>
                              {{data.customerTelephoneNo}}
                            </mat-card-subtitle>
                          </mat-card-header>
                        </div>

                        <div class="col-md-5">

                          <div class="row">
                            <div class="col-md-6">
                              <p><b>Actual Price:</b> {{data.totalPrice}}</p>
                              <p><b>Estimated Cost:</b> {{data.hireCost}}</p>
                              <p><b>Waiting Cost:</b> {{data.waitingCost}}</p>
                              <p><b>Wait Time:</b> {{data.waitTime}}</p>
                              <p><b>Vehicle Category:</b> {{data.vehicleCategory}}</p>
                              <p><b>Vehicle Sub Category:</b> {{data.vehicleSubCategory}}</p>

                              <button mat-button class="btn btn-success btn-sm ml-1"
                                *ngIf="data.type == 'adminDispatch'">Admin Dispatch</button>
                              <button mat-button class="btn btn-danger btn-sm ml-1"
                                *ngIf="data.type == 'driverDispatch'">Driver Dispatch</button>
                              <button mat-button class="btn btn-primary btn-sm ml-1"
                                *ngIf="data.type == 'userDispatch'">User Dispatch</button>
                                <button mat-button class="btn btn-primary btn-sm ml-1"
                                    *ngIf="data.type == 'passengerTrip'">User Trip</button>
                            </div>

                            <div class="col-md-6">
                              <div *ngFor='let dr of data.noifiedDrivers'>
                                <p *ngIf="data.assignedDriverId == dr.driverId">
                                  <b>Driver : </b> {{dr.driverInfo.driverContactNumber}} | {{dr.driverInfo.driverName}}
                                  <br>
                                  <b>Vehicle : </b> {{dr.vehicleInfo.vehicleRegistrationNo}}
                                </p>
                              </div>
                               <p><b>Bid Value :</b> {{data.bidValue}}</p>
                               <p><b>Distance :</b> {{data.distance | number : '1.2-2'}}</p>
                               <p><b>Drop Time :</b> {{data.dropDateTime | date: 'dd/MM/yyyy'}}
                                {{data.pickupDateTime | date: 'hh:mm.ss a'}}</p>
                               <p><b>Trip Duration :</b> {{data.tripTime | number : '1.2-2'}}</p>
                               <p><b>Notes :</b> {{data.notes}}</p>

                            </div>
                          </div>


                        </div>

                        <div class="col-md-4">
                          <p><b>Pickup Location:</b> {{data.pickupLocation.address}}</p>
                          <p><b>Pickup Time:</b> {{data.pickupDateTime | date: 'dd/MM/yyyy'}}
                            {{data.pickupDateTime | date: 'hh:mm.ss a'}}</p>
                          <p *ngIf="data.dropLocations[0]"><b>Drop Location:</b> {{data.dropLocations[0].address}}</p>
                          <p *ngIf="data.distance"><b>Distance :</b> {{data.distance}}</p>

                          <button mat-button class="btn btn-primary btn-sm ml-1">{{data.status}}</button>
                          <!-- <button mat-button class="btn btn-danger btn-sm ml-1"
                            *ngIf="data.status == 'canceled'">Canceled</button> -->
                        </div>
                      </div>

                    </mat-card>
                  </td>
                  <br>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>