<ngx-spinner bdColor="rgba(51, 51, 51, 0.5)" size="default" color="#3f51b5" type="ball-scale-pulse"></ngx-spinner>

<div class="row">
  <div class="col-sm-12 col-md-12">

    <div class="card p-2">
      <div class="card-header fix-padding">
        From : <input type="date" [(ngModel)]="from"> To : <input type="date" [(ngModel)]="to">
        <button mat-button class="btn btn-success btn-sm ml-5" (click)="getCompanyWallet()">Search</button>
      </div>

      <div class="col-md-12">
        <div class="card card-outline-inverse">
          <div class="card-body">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
              <thead>
                <tr>
                  <th>
                    <h3 class="head">Company Wallet</h3> 
                    <button (click)="exportAsXLSX()"><i class="fa fa-file-excel-o"
                      style="font-size:35px;color:blue"></i></button>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of walletData" style="font-weight:10">
                  <td>
                    <mat-card>
                      <div class="row">
                        <!-- <div class="col-md-3">
                          <mat-card-header>
                            <mat-card-subtitle>
                              <h4>Admin Earning : </h4>{{data.adminEarnings}}
                            </mat-card-subtitle>
                            <mat-card-subtitle>
                              <h4>Company Name : </h4>{{data.companyName}}
                            </mat-card-subtitle>
                          </mat-card-header>
                        </div> -->

                        <div class="col-md-4">
                          <h4>Transaction History</h4>
                          <p><b>Date and Time : </b> {{data.transactionHistory.dateTime | date: 'dd/MM/yyyy'}}
                            {{data.transactionHistory.dateTime | date: 'hh:mm.ss a'}}</p>
                          <!-- <p><b>Trip Status : </b> {{data.transactionHistory.isATrip}}</p> -->
                          <!-- <p><b>Creadited Status : </b> {{data.transactionHistory.isCredited}}</p> -->
                          <p><b>Transaction Method : </b> {{data.transactionHistory.method}}</p>
                          <p><b>Transaction Amoumt : </b> {{data.transactionHistory.transactionAmount}}</p>
                          <p><b>Transaction Type : </b> {{data.transactionHistory.transactionType}}</p>
                        </div>

                        <div class="col-md-4">
                          <h4>Trip Details</h4>
                          <p *ngIf="data.transactionHistory.trip.pickupLocation"><b>Pickup Location : </b>
                            {{data.transactionHistory.trip.pickupLocation.address}}</p>
                          <p *ngIf="data.transactionHistory.trip.destinations[0]"><b>Destination : </b>
                            {{data.transactionHistory.trip.destinations[0].address}}</p>
                            <p><b>Trip Earning : </b> {{data.transactionHistory.trip.tripEarning}}</p>
                            <!-- <p><b>Admin Commission : </b> {{data.transactionHistory.trip.tripAdminCommission}}</p> -->
                          <p><b>Total Trip Value : </b>
                            {{data.transactionHistory.trip.totalTripValue | number : '1.2-2'}}</p>
                        </div>

                        <div class="col-md-4">
                          <h4>{{data.transactionHistory.transactionType}}</h4>
                          
                          <div *ngIf="data.transactionHistory.transactionType == 'dispatch'">
                            <p><b>Customer Name : </b> {{data.tripdataDispatch[0].customerName}}</p>
                            <p><b>Customer Telephone Number : </b> {{data.tripdataDispatch[0].customerTelephoneNo}}</p>

                            <div *ngFor='let dr of data.tripdataDispatch[0].noifiedDrivers'>
                              <p *ngIf="data.tripdataDispatch[0].assignedDriverId == dr.driverId">
                                <b>Driver : </b>{{dr.driverInfo.driverName}} | {{dr.driverInfo.driverContactNumber}}
                                <br>
                                <b>Vehicle : </b> {{dr.vehicleInfo.vehicleRegistrationNo}}
                              </p>
                            </div>

                            <!-- <p><b>Estimated Cost : </b> {{data.tripdataDispatch[0].hireCost}}</p> -->
                            <p><b>Type : </b> {{data.tripdataDispatch[0].type}}</p>
                            <p><b>Vehicle Category : </b> {{data.tripdataDispatch[0].vehicleCategory}}</p>
                            <p><b>Vehicle Sub-category : </b> {{data.tripdataDispatch[0].vehicleSubCategory}}</p>

                          </div>

                          <div *ngIf="data.transactionHistory.transactionType == 'roadPickup'">
                            <p><b>Customer Name : </b> {{data.tripdataRoadpickup[0].firstName}}</p>
                            <p><b>Customer Telephone Number : </b> {{data.tripdataRoadpickup[0].mobile}}</p>

                            <p><b>Vehicle Category : </b> {{data.tripdataRoadpickup[0].vehicleCategory}}</p>
                            <p><b>Vehicle Sub-category : </b> {{data.tripdataRoadpickup[0].vehicleSubCategory}}</p>

                          </div>

                          <div  *ngIf="data.transactionHistory.transactionType == 'trip'">
                              <p><b>Customer Name : </b> {{data.tripdataTrip[0].firstName}}</p>
                              <p><b>Customer Telephone Number : </b> {{data.tripdataTrip[0].mobile}}</p>
  
                              <div *ngIf="!(data.transactionHistory.transactionType == 'other')">
                                <div *ngFor='let dr of data.tripdataTrip[0].noifiedDrivers'>
                                  <p *ngIf="data.tripdataTrip[0].assignedDriverId == dr.driverId">
                                    <b>Driver : </b>{{dr.driverInfo.driverName}} | {{dr.driverInfo.driverContactNumber}}
                                    <br>
                                    <b>Vehicle : </b> {{dr.vehicleInfo.vehicleRegistrationNo}}
                                  </p>
                                </div>
                              </div>
  
                              <!-- <p><b>Estimated Cost : </b> {{data.tripdataRoadpickup[0].hireCost}}</p> -->
                              <!-- <p><b>Type : </b> {{data.tripdataRoadpickup[0].type}}</p> -->

                              <p><b>Vehicle Category : </b> {{data.tripdataTrip[0].vehicleCategory}}</p>
                              <p><b>Vehicle Sub-category : </b> {{data.tripdataTrip[0].vehicleSubCategory}}</p>

                            </div>

                            <div  *ngIf="data.transactionHistory.transactionType == 'other'">
                                <p><b>Customer Name : </b> {{data.tripdataTrip[0].passengerDetails.name}}</p>
                                <p><b>Customer Telephone Number : </b> {{data.tripdataTrip[0].passengerDetails.contactNumber}}</p>
    
                                  <div *ngFor='let dr of data.tripdataTrip[0].noifiedDrivers'>
                                    <p *ngIf="data.tripdataTrip[0].assignedDriverId == dr.driverId">
                                      <b>Driver : </b>{{dr.driverInfo.driverName}} | {{dr.driverInfo.driverContactNumber}}
                                      <br>
                                      <b>Vehicle : </b> {{dr.vehicleInfo.vehicleRegistrationNo}}
                                    </p>
                                  </div>
    
                                <!-- <p><b>Estimated Cost : </b> {{data.tripdataRoadpickup[0].hireCost}}</p> -->
                                <!-- <p><b>Type : </b> {{data.tripdataRoadpickup[0].type}}</p> -->
  
                                <p><b>Vehicle Category : </b> {{data.tripdataTrip[0].vehicleCategory}}</p>
                                <p><b>Vehicle Sub-category : </b> {{data.tripdataTrip[0].vehicleSubCategory}}</p>
  
                                <button class="btn btn-danger" *ngIf="data.transactionHistory.transactionType == 'other'">Canceled</button>
    
                              </div>

                            

                        </div>

                      </div>

                    </mat-card>
                  </td>
                  <br>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>