agm-map {
    height: 600px;
}

.herderCard{
  /* max-height:70px;
  padding: 5px;  */
}

mat-card-header{
  margin: 20px
}

.example-card{
  margin-bottom: 10px;
}

.over_map { 
	position: absolute; 
	top: -30px; 
	left: 10px; 
	z-index: 1;
	margin-left: 71%;
	/* margin-right: 2px; */
	width: 32%; 
  font-size: 80%;
}

.dash {
	color : white
}