<mat-card class="example-card">

  <div class="card p-2">
    <div class="card-header fix-padding dash">
      From : <input type="date" [(ngModel)]="from"> To : <input type="date" [(ngModel)]="to">
      <button mat-button class="btn btn-success btn-sm ml-5" (click)="getDashboardData()">Search</button>
    </div>
  </div>

  <div class="row" *ngIf="showData">
    <div class="col-md-3">
      <mat-card class="headerard text-white" style="background-color: #594d5b">
        <div class="card-body pb-0">

          <h4 class="dash">Total Income</h4>
          <div class="text-value">{{dashboardData.totalIncome }}</div>
        </div>
      </mat-card>
    </div>
    <div class="col-md-3">
      <mat-card class="headerard text-white" style="background-color: #3e3d53">
        <div class="card-body pb-0">
          <h4 class="dash">Commission Income</h4>
          <div class="text-value">{{dashboardData.commissionIncome}}</div>
        </div>
      </mat-card>
    </div>
    <div class="col-md-3">
      <mat-card class="headerard text-white" style="background-color: #41424c">
        <div class="card-body pb-0">
          <h4 class="dash">Completed Trips</h4>
          <div class="text-value">{{dashboardData.CompletedTrips}}</div>
        </div>
      </mat-card>
    </div>
    <div class="col-md-3">
      <mat-card class="headerard text-white" style="background-color: #564c4d">
        <div class="card-body pb-0">
          <h4 class="dash">Canceled Trips</h4>
          <div class="text-value">{{dashboardData.CanceledTrips}}</div>
        </div>
      </mat-card>
    </div>
  </div>

  <div class="row">
    <br>
  </div>

  <div class="row" *ngIf="showData">
    <div class="col-sm-9 col-lg-3">
      <mat-card class="headerard text-white" style="background-color: #3e3d53">
        <div class="card-body pb-0">

          <h4 class="dash">Registered Drivers</h4>
          <div class="text-value">{{dashboardData.RegisteredDriveres}}</div>
        </div>
      </mat-card>
    </div>

    <div class="col-sm-6 col-lg-3">
      <mat-card class="headerard text-white" style="background-color: #41424c">
        <div class="card-body pb-0">
          <h4 class="dash">Pending Drivers</h4>
          <div class="text-value">{{dashboardData.pendingDrivers}}</div>
        </div>
      </mat-card>
    </div>

    <div class="col-sm-6 col-lg-3">
      <mat-card class="headerard text-white" style="background-color: #564c4d">
        <div class="card-body pb-0">
          <h4 class="dash">Registered Vehicles</h4>
          <div class="text-value">{{dashboardData.registeredVehicles}}</div>
        </div>
      </mat-card>
    </div>

    <div class="col-sm-6 col-lg-3">
      <mat-card class="headerard text-white" style="background-color: #594d5b">
        <div class="card-body pb-0">
          <h4 class="dash">Pending Vehicles</h4> 
          <div class="text-value">{{dashboardData.pendingVehicles}}</div>
        </div>
      </mat-card>
    </div>

  </div>
</mat-card>

<br>

<mat-card class="example-card">
  <mat-card-content>

    <agm-map [streetViewControl]="false" [zoomControl]="false" [scrollwheel]="null" [gestureHandling]="'cooperative'"
      [latitude]="lat" [longitude]="lng" [zoom]="zoom">
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>

      <agm-marker [latitude]="data.currentLocation.latitude" [longitude]="data.currentLocation.longitude"
        [iconUrl]="data.driverIcon" *ngFor="let data of vehicleTrackingData" (mouseOver)="window.open()"
        (mouseOut)="window.close()">
        <agm-info-window #window>
          <h5>{{data.currentStatus}}</h5>
          <p>{{data.vehicleCategory}} | {{data.vehicleSubCategory}}</p>
          <b>{{data.driverInfo.driverName}} <br> {{data.driverInfo.driverContactNumber}} |
            {{data.vehicleInfo.vehicleRegistrationNo}}</b>
        </agm-info-window>
      </agm-marker>

    </agm-map>

    <div class="over_map col-md-4 col-sm-6 pb-5">
      <div class="navBarItem col ">
        <div class="orderForm p-3">
          <mat-card>
            <h2>Filter <button (click)="getVehicleTracking()" class="btn btn-sm btn-success"><i class="fa fa-refresh" aria-hidden="true"></i></button></h2>

            <div class="row">
              <div class="col-md-6">
                <div class="radio">
                  <label><input type="radio" name="optradio" value="all" checked
                      (change)="filterVehicleTracking('all')">All ({{countAll}})</label>
                </div>
                <div class="radio">
                  <label><input type="radio" name="optradio" value="online"
                      (change)="filterVehicleTracking('online')">Online ({{countOnline}})</label>
                </div>
                <div class="radio">
                  <label><input type="radio" name="optradio" value="offline"
                      (change)="filterVehicleTracking('offline')">Offline ({{countOffline}})</label>
                </div>
                <div class="radio">
                  <label><input type="radio" name="optradio" value="offline"
                      (change)="filterVehicleTracking('ontrip')">Ontrip ({{countOntrip}})</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="radio" *ngFor='let item of vehicleCategoryData'>
                  <label><input type="radio" name="optradio1" value="{{item.name}}"
                      (change)="filterVehicleTracking2(item.name)">{{item.name}} ({{item.count}})</label>
                </div>

              </div>
            </div>


          </mat-card>
        </div>
      </div>
    </div>

  </mat-card-content>

</mat-card>

