<ngx-spinner bdColor="rgba(51, 51, 51, 0.5)" size="default" color="#3f51b5" type="ball-scale-pulse"></ngx-spinner>

<div class="row">
  <div class="col-sm-12 col-md-12">

    <div class="card p-2">
      <div class="card-header fix-padding">

        From : <input type="date" [(ngModel)]="from"> To : <input type="date" [(ngModel)]="to">
        <button mat-button class="btn btn-success btn-sm ml-5" (click)="getRoadPickupTrip()">Search</button>
      </div>


      <div class="col-md-12">
        <div class="card card-outline-inverse">
          <div class="card-body">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
              <thead>
                <tr>
                  <th>
                    <h3 class="head">Road Pickup History</h3>
                    <button (click)="exportAsXLSX()"><i class="fa fa-file-excel-o"
                      style="font-size:35px;color:blue"></i></button>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of roadPickupData" style="font-weight:10">
                  <td>
                    <p style="display:none">
                      {{data.recordedTime | date: 'yyyy-MM-dd'}}
                      {{data.recordedTime | date: 'a'}}
                      {{data.recordedTime | date: 'hh:mm.ss a'}}
                    </p>
                    <mat-card>
                      <div class="row">
                        <div class="col-md-3">
                          <mat-card-header>
                            <mat-card-title>

                              <h4><b>Customer</b></h4>
                              <h3>{{data.firstName}} {{data.lastName}}</h3>
                            </mat-card-title>
                            <mat-card-subtitle>
                              {{data.mobile}}
                            </mat-card-subtitle>
                            <mat-card-subtitle>
                              {{data.email}}
                            </mat-card-subtitle>
                          </mat-card-header>
                        </div>

                        <div class="col-md-4">
                          <p><b>Trip Duration :</b> {{data.tripTime | number : '1.2-2'}}</p>
                          <p><b>Waiting Cost :</b> {{data.waitingCost | number : '1.2-2'}}</p>
                          <p><b>Waiting Time :</b> {{data.waitTime | number : '1.2-2'}}</p>
                          <p><b>Vehicle Category :</b> {{data.vehicleCategory}}</p>
                          <p><b>Vehicle Sub Category :</b> {{data.vehicleSubCategory}}</p>
                          <p *ngIf="data.driver?.length > 0"><b>Driver :</b> {{data.driver[0].firstName}}
                            {{data.driver[0].lastName}}</p>
                          <p *ngIf="data.vehicle?.length > 0"><b>Vehicle :</b> {{data.vehicle[0].vehicleRegistrationNo}}
                          </p>
                        </div>

                        <div class="col-md-3">
                          <p><b>Pickup Location :</b> {{data.pickupLocation.address}}</p>
                          <p><b>Pickup Time :</b> {{data.pickupDateTime | date: 'dd/MM/yyyy'}}
                            {{data.pickupDateTime | date: 'hh:mm.ss a'}}</p>
                          <p *ngIf="data.dropLocation"><b>Drop Location :</b> {{data.dropLocation.address}}</p>
                          <p *ngIf="data.distance"><b>Distance :</b> {{data.distance | number : '1.2-2'}}</p>
                          <!-- <p><b>Recorded Time:</b> {{data.recordedTime}}</p> -->
                        </div>

                        <div class="col-md-2">
                          <p *ngIf="data.totalCost" class="p-3"><b>Total cost Rs : {{data.totalCost}}</b></p>
                        </div>
                      </div>

                      <div class="row">

                      </div>
                      <div class="row">
                        <button mat-button class="btn btn-success btn-sm ml-3">{{data.status}}</button>
                      </div>
                    </mat-card>
                  </td>
                  <br>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>