/* You can add global styles to this file, and also import other style files */

@import '~perfect-scrollbar/css/perfect-scrollbar.css';

.ps .ps__scrollbar-y-rail {
    left: 3px;
    right: auto;
}

thead, th {
    background-color: rgb(67, 67, 119);
    color: darkgray;
  }


  th{
    height: 50px;
    background-color: #242A33;
    font-weight: 800;
    font-size: 20px;
    padding-left: 20px;
    outline-color: #242A33;
    outline-style: auto;
  }

  td{
    padding: 25px;
    outline-color: #242A33;
    /* outline-width: 2px; */
  }

  p{
    font-size: 12px;
    font-weight: 500;
    margin-top: 2px;
    margin-bottom: 2px;
  }

  h5{
    color: darkgray;
}
