.card-header{
    background-color: #242A33;
}

.modal-lg {
    max-width: 75%;
}

h3{
    font-weight: 800;
    font-size: 20px;
    color:darkgray;
}

h4{
    font-weight: 800
}

p{
    font-weight: 600
}

th{
    color: darkgray;
}

// p{
//     font-size: 12px;
//     font-weight: 500;
//     margin-top: 2px;
//     margin-bottom: 2px;
//   }
mat-expansion-panel-header{
    height: 120px;
}

.pre-scrollable {
    overflow-x: hidden;
}


.float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:80px;
    right:20px;
    background-color:rgb(36, 42, 51);
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
}